<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active') %>

<div class="row">
<div class="col-md-1 col-lg-2"></div>
<div class="col-md-10 col-lg-8 text-xs-center">
<h1><%= @post.title %> </h1>
<p> <%= @post.display_day_published %> </p>
<%= @post.body.html_safe %>
<%= social_share_button_tag(@post.title) %>
<center>
<div class="author-bio">
<%= image_tag(@post.author.gravatar_image_url) %>
<h6> <%= @post.author.name %> </h6>
<p class='bio'> <%= @post.author.bio %> </p>
</div>
</center>


<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"></a></noscript>
</div>
</div>

<script>

var disqus_config = function () {
this.page.url = '<%= request.original_url %>'; 
this.page.identifier = '<%= @post.slug %>'; 
};

(function() { 
var d = document, s = d.createElement('script');
s.src = 'https://transnistria-trip.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>


	