<%= form_for(post, url:url) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "ошибка") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="col-md-4">

<div class="card-post">
  <div class="card-block">
  <% if @post.new_record? %>
    <h4 class="card-title">Новый пост</h4>
    <% else %>
    <h4 class="card-title">
    <b>Изменить</b>
    <span class="thin-text">
      <%= @post.title %>
    </span>
    </h4>
    <% end %>
    </div>
    <ul class="list-group list-group-flush">
     <li class="list-group-item">
          <div class="field">
          <%= f.label "Заголовок" %>
           <%= f.text_field :title,class: 'form-control' %>
         </div>
     </li>
     <li class="list-group-item">
          <div class="field">
          <%= f.label "Фото" %>
          <%= f.text_field :banner_image_url,class: 'form-control' %>
          </div>
    </li>
    <li class="list-group-item">
          <div class="field">
          
          <%= f.label "Описание" %>
          <%= f.text_area :description,class: 'form-control' %>
          </div>
     </li>
     
     <li class="list-group-item">

          <div class="field">
           
          <%= f.label "Тэги" %>
          <%= f.text_area :tag_list, class: 'form-control' %>
          </div>
     </li>
      <li class="list-group-item">

          <div class="field">
           
          <%= f.collection_select :category_id, Category.all, :id, :name,{promt: "Выберите категорию"} %>
          
          </div>
     </li>
      <li class="list-group-item">
          <div class="actions">
         <%= f.submit "Сохранить пост", class: 'btn btn-success btn-block' %>
        </div>
     </li>
     </ul>
      </div>
  </div>
  <div class="col-md-8">
          <div class="field">
          <%= f.text_area :body %>
    </div>
     <% if @post.persisted? %>
          <%= link_to 'Показать', @post %> |
          <% end %>
          <%= link_to 'Назад', authors_posts_path %>
  </div>
 </div>
<% end %>
